@model FEUEM_CAP.Models.Docente

@{
    ViewBag.Title = "Adicionar docente";
}

<h2>Adição de novo docente</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="panel panel-body">
        <div class="form-horizontal" id="FormDocente">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <fieldset id="dadosPessoais">
                <legend>Dados Pessoais </legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.NomeDocente, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.NomeDocente, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.NomeDocente, "", new {@class = "text-danger"})
                    </div>
                    @Html.LabelFor(model => model.ApelidoDocente, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ApelidoDocente, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ApelidoDocente, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ContactoTelefone, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ContactoTelefone, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ContactoTelefone, "", new {@class = "text-danger"})
                    </div>
                    @Html.LabelFor(model => model.ContactoEmail, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ContactoEmail, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ContactoEmail, "", new {@class = "text-danger"})
                    </div>
                </div>
                <hr />
            </fieldset>
            <fieldset id="DadosBanco">
                <legend>Dados Bancários</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.Nuit, htmlAttributes: new {@class = "control-label col-sm-1"})
                    <div class="col-sm-2">
                        @Html.EditorFor(model => model.Nuit, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Nuit, "", new {@class = "text-danger"})
                    </div>
                    @Html.LabelFor(model => model.Nib, htmlAttributes: new {@class = "control-label col-sm-1"})
                    <div class="col-sm-3">
                        @Html.EditorFor(model => model.Nib, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Nib, "", new {@class = "text-danger"})
                    </div>
                    @Html.LabelFor(model => model.NumeroConta, htmlAttributes: new {@class = "control-label col-sm-2"})
                    <div class="col-sm-3">
                        @Html.EditorFor(model => model.NumeroConta, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.NumeroConta, "", new {@class = "text-danger"})
                    </div>
                </div>
                <hr />
            </fieldset>
            <fieldset id="DadosFormacao">
                <legend>Dados de formação</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.CategoriaId, "Categoria", htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("CategoriaId", null, htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.CategoriaId, "", new {@class = "text-danger"})
                    </div>
                    @Html.LabelFor(model => model.NivelAcademicoId, "Nível académico", htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("NivelAcademicoId", null, htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.NivelAcademicoId, "", new {@class = "text-danger"})
                    </div>
                </div>
            </fieldset>
            <hr/>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 ">
                    <input type="submit" value="Gravar" id="Gravar" class="btn btn-success"/>
                </div>
            </div>
            
        </div>
   </div>
}
<div>
    @*@Html.ActionLink("Back to List", "Index")*@
    <a id="Novo" href="@Url.Action("Index")" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Voltar
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
