@model FEUEM_CAP.Models.Docente

@{
    ViewBag.Title = "DetalhesDocente";
}

<h2>Detalhees do docente @Html.DisplayFor(model => model.NomeDocente)</h2>

<div id="DescDetalhes">
    <h4 id="DescForm">Descrição do curso</h4>
    <hr />

    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.NomeDocente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDocente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApelidoDocente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApelidoDocente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactoTelefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactoTelefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactoEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactoEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nuit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nuit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nib)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nib)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroConta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroConta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.DescricaoCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.DescricaoCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NivelAcademico.DescricaoNivelAcademico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NivelAcademico.DescricaoNivelAcademico)
        </dd>
    </dl>
</div>

<br /><br /><br />
<hr />
<p>
    <a id="DetalhesModal" href="#" class="btn btn-primary" )>
        <span class="glyphicon glyphicon-remove"></span>
        fechar
    </a>
</p>
<script src="~/Scripts/Costumizados/FecharModal.js"></script>