@model FEUEM_CAP.Models.Disciplina

@{
    ViewBag.Title = "DetalhesDisciplina";
}

<h2>Detalhes da discplina</h2>

<div id="DescDetalhes">
    
    <h4 id="DescForm"> Descrição da disciplina </h4>

    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.NomeCurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.NomeCurso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeDisciplina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDisciplina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semestre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semestre)
        </dd>

    </dl>
</div>
<p>
    <a id="DetalhesModal" href="#" class="btn btn-primary")>
        <span class="glyphicon glyphicon-remove"></span>
        fechar
    </a>
    @*@Html.ActionLink("EditarDepartamentoarCategoriaarCurso", "EditarDisciplina", new { id = Model.DisciplinaId }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
<script src="~/Scripts/Costumizados/FecharModal.js"></script>