@model FEUEM_CAP.Models.Disciplina

@{
    ViewBag.Title = "RemoverDisciplina";
}

<h2>Remover discplina</h2>

<h4 id="DescForm">
    Formulário de remoção da disciplina
</h4>
<hr />
<h3 style="color: red; font-weight: bold;">Tem certeza que deseja remover esta disciplina?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.NomeCurso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Curso.NomeCurso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeDisciplina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeDisciplina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Semestre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Semestre)
        </dd>
    </dl>

    @using (Html.BeginForm("RemoverDisciplina","Disciplinas",FormMethod.Post, new {id = "formCrud"})) {
        @Html.AntiForgeryToken()

        <br />
        <hr />
        <div class="form-actions no-color">
            <a id="botaoDeAccao" href="#" class="btn btn-danger" style="left: 30%;">
                <span class="glyphicon glyphicon-trash"></span>
                Remover
            </a>
            @*<input type="submit" value="RemoverDisciplina" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")*@
        </div>
        <hr/>
        <a id="DetalhesModal" href="#" class="btn btn-primary")>
            <span class="glyphicon glyphicon-remove"></span>
            fechar
        </a>
    }
</div>
<script src="~/Scripts/Costumizados/EnvioDeFormulario.js"></script>
<script src="~/Scripts/Costumizados/FecharModal.js"></script>
