@model FEUEM_CAP.Models.Categoria

@{
    ViewBag.Title = "Adicionar categoria";
}

<h2>Adição de nova categoria</h2>


@using (Html.BeginForm("AdicionarCategoria","Categoria",FormMethod.Post, new { id="formCrud"})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 id="DescForm">Formulário de cadastro de categoria</h4>
        <hr />
        <fieldset id="FormularioAdicaoCategoria">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.DescricaoCategoria, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DescricaoCategoria, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescricaoCategoria, "", new { @class = "text-danger" })
                </div>
            </div>
        
            <div class="form-group" id="BotoesCategoria">
                <div class="col-md-offset-2 col-md-10">
                    <a id="botaoDeAccao" href="#" class="btn btn-success add" style="position: relative; left: 2px;">
                        <span class="glyphicon glyphicon-floppy-saved"></span>
                        Gravar
                    </a>
                </div>
            </div>
        </fieldset>
    </div>
    
}
<hr />
<a id="DetalhesModal" href="#" class="btn btn-primary" )>
    <span class="glyphicon glyphicon-remove"></span>
    fechar
</a>
<script src="~/Scripts/Costumizados/EnvioDeFormulario.js"></script>
<script src="~/Scripts/Costumizados/FecharModal.js"></script>
@Scripts.Render("~/bundles/jqueryval")
