@model FEUEM_CAP.Models.Departamento

@{
    ViewBag.Title = "Adicionar departamento";
}

<h2>Adição de novo departamento</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 id="DescForm">Formulário de cadastro de departamento</h4>
        <hr />
        <fieldset id="FormularioAdicao">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.NomeDepartamento, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.NomeDepartamento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NomeDepartamento, "", new { @class = "text-danger" })
                </div>
            </div>
        
            <div class="form-group">
                @Html.LabelFor(model => model.Sigla, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Sigla, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sigla, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" id="BotoesDep">
                <a id="Novo" href="@Url.Action("Index")" class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    Voltar
                </a>
                @*<input type="submit" value="Gravar" class="btn btn-success"/>*@
                <a id="botaoDeAccao" href="#" class="btn btn-success add">
                    <span class="glyphicon glyphicon-floppy-saved"></span>
                    Gravar
                </a>
            </div>
        </div>
    </div>
}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
  
</div>
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/Customizados/EnvioDeFormulario.js"></script>