@model FEUEM_CAP.Models.Departamento

@{
    ViewBag.Title = "DetalhesCurso";
}

<h2>DetalhesCurso</h2>

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sigla)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("EditarCategoriaarCurso", "EditarDepartamento", new { id = Model.DepartamentoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
